<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votre Titre</title>

  <!-- Ajoutez ces liens pour inclure Bootstrap et jQuery -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</head>

<body>

<header>
    <div class="banner">Bénéficiez d'une réduction de plus de 50%.</div>
    
    <nav>
          
        <div id="logo">
            <i class="bi bi-luggage-fill"></i>
            Co&Co
        </div>
        <ul class="navigation-menu">
            <li><a [routerLink]="['/home']">Home</a>
                <ul class="subnav">
 
                </ul>


            <li><a href="#">Services</a>
                <ul class="subnav">
                    <li class="card-med" id="serv-groom">
                        <div class="card-image"><a href="https://imgbb.com/"><img src="https://i.ibb.co/19R91NJ/quirky-real-estate-house-with-a-key-1.png" alt="quirky-real-estate-house-with-a-key-1" border="0"></a></div>
                        <a href="#">
                            <span>colocation</span>
                            <span>More Info <i class="bi bi-arrow-right"></i></span>
                        </a>
                    </li>
                    <li class="card-med" id="serv-board">
                        <div class="card-image"><a href="https://imgbb.com/"><img src="https://i.ibb.co/89c6fM4/transistor-man-traveling-by-car-with-dog.png" alt="transistor-man-traveling-by-car-with-dog" border="0"></a></div>
                        <a href="#">
                            <span>covoiturage</span>
                            <span>More Info<i class="bi bi-arrow-right"></i></span>
                        </a>
                </ul>
            </li>
            <li><a href="#locate">Locations &amp; Hours</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a [routerLink]="['login']"> login</a>
            </li>

        </ul>
        <div id="utility">

                <li class="card-med" id="serv-board"><a [routerLink]="['panier']" > <i class="bi bi-cart"></i></a></li> 
                <li class="card-med" id="serv-board"><a [routerLink]="['profile']" > <i class="bi bi-person-fill"></i></a></li>
                
                
             
        </div>


        
    </nav>
</header>

</body>




